@import url('https://rsms.me/inter/inter.css');
@import url('reset.css');

:root {
    --margin: 34px;
    --max-width: 1024px;

    --font-family: 'Inter', -apple-system, sans-serif;
    --font-feature-settings: "ss01", "zero", "frac", "cv05", "cv11";

    --body-size: 20px;
    --body-line-height: 28px;
    --body-letter-spacing: -0.017em;
    --body-weight: 400;

    --title-size: 40px;
    --title-line-height: 56px;
    --title-weight: 900;
    --title-letter-spacing: -0.022em;

    --header-size: var(--body-size);
    --header-line-height: var(--body-line-height);
    --header-weight: 700;
    --header-letter-spacing: var(--body-letter-spacing);

    --caption-size: 16px;
    --caption-line-height: 22px;
    --caption-weight: var(--body-weight);
    --caption-letter-spacing: -0.011em;
    --caption-opacity: 0.35;

    --background-color: var(--system-white);
    --foreground-color: var(--system-black);
    --anchor-color: var(--system-black);
    --anchor-underline-color: rgba(0, 0, 0, 0.15);

    --system-white: #F7F5F2;
    --system-black: rgba(0, 0, 0, 0.85);
    --system-gray: #888888;
    --system-red: #F26F42;
    --system-yellow: #F2C53D;
    --system-green: #79BF56;
    --system-blue: #50B4E6;

    --system-red-wash: #F9C5B3;
    --system-yellow-wash: #F9E7B1;
    --system-green-wash: #C9E5BB;
    --system-blue-wash: #B8E0F5;

    --system-light-gray: #E5E5E5;

    --hang: -120px;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    margin: 50px auto;
    padding-top: 50px;
    max-width: var(--max-width);
    font-family: var(--font-family);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-feature-settings: var(--font-feature-settings);
}

header {
    grid-area: header;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0 !important;
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}

main {
    grid-area: main;
    margin-bottom: calc(var(--margin) * 2);
}

aside {
    grid-area: aside;
    padding-left: 100px;
}

aside ul li::before {
    content: "";
}

aside a {
    font-weight: 700;
    text-decoration: none;
    color: var(--system-black);
    opacity: 0.3;
}

aside a:hover {
    text-decoration: none;
    opacity: 1;
}

article {
    margin-bottom: calc(var(--margin) * 2);
    padding-bottom: calc(var(--margin) * 2);
    clear: both;
}

footer {
    grid-area: footer;
    margin: 100px 0;
    padding: 20px 0;
    border-top: 1px dashed var(--system-black);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    letter-spacing: var(--caption-letter-spacing);
    opacity: var(--caption-opacity);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
table {
    margin: var(--margin) 0;
}

ul ul,
ol ol {
    margin: 0 0 0 10px;
}

hr {
    display: block;
    margin: calc(var(--margin) * 2) 0;
    border: none;
    height: 3px;
    background-color: var(--system-black);
    opacity: 0.15;
}

li::before {
    content: "→";
    display: inline-block;
    width: 32px;
    margin-left: -32px;
    opacity: 0.15;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--header-size);
    line-height: var(--header-line-height);
    font-weight: var(--header-weight);
    letter-spacing: var(--header-letter-spacing);
}

h1 {
    font-size: var(--title-size);
    line-height: var(--title-line-height);
    font-weight: var(--title-weight);
    letter-spacing: var(--title-letter-spacing);
}

h2+h3 {
    margin-top: calc(var(--margin) * -1);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    opacity: var(--caption-opacity);
}

h3+.summary {
    margin-top: calc(var(--margin) * -0.75);
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--anchor-underline-color);
    color: var(--anchor-color);
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 0 -10px;
    padding: 5px 10px;
    background-color: var(--system-yellow-wash);
    border-radius: var(--border-radius);
    color: #333300;
}

button,
input[type=file]::file-selector-button,
.button {
    display: inline-block;
    padding: 6px 24px;
    background: var(--system-light-gray);
    font-size: var(--body-size);
    font-weight: 500;
    line-height: var(--body-line-height);
    text-decoration: none;
    border: none;
    border-radius: var(--border-radius);
    color: #737373;
}

button:hover,
input[type=file]::file-selector-button:hover,
.button:hover {
    cursor: pointer;
    text-decoration: none;
}

button:active,
input[type=file]::file-selector-button:active,
.button:active {
    background: #E2E2E2;
    color: #333;
}

button[type=submit] {
    font-weight: 600;
    background: var(--system-blue);
    color: var(--system-white);
}

.button-delete {
    background: var(--system-red);
    color: var(--system-white);
}

input[type=text],
input[type=password],
input[type=number],
input[type=search],
input[type=email],
textarea {
    display: block;
    margin: calc(var(--margin) / 4) 0;
    padding: 6px 12px;
    width: 100%;
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    background: var(--background-color);
    border: 1px solid var(--system-light-gray);
    border-radius: var(--border-radius);
    color: var(--foreground-color);
}

textarea {
    display: block;
    padding: 10px;
    height: 100px;
}

textarea.json {
    min-height: 400px;
    background-color: var(--foreground-color);
    color: var(--system-yellow);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=email]:focus {
    border-color: var(--system-blue);
}

select {
    -webkit-appearance: button;

    padding: 6px 12px;
    width: 100%;
    font-size: var(--body-size);
    border: 1px solid var(--system-light-gray);
    border-radius: var(--border-radius);
    color: var(--system-gray);
    font-size: var(--body-size);
    line-height: var(--body-line-height);

    background-image: url("data:image/svg+xml;utf8,<svg width='30px' height='24px' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M10,9 L13.5,14 L17,9 L10,9 Z M10,9' fill='rgba(0,0,0,0.5)'></path></svg>");
    background-color: #F4F4F4;
    background-repeat: no-repeat, repeat;
    background-position: 100% 50%, 0 0;
}

input[type=date] {
    -webkit-appearance: button;

    padding: 4px 10px;
    width: 100%;
    border: 1px solid var(--system-light-gray);
    border-radius: var(--border-radius);
    background-color: #F4F4F4;
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    color: var(--system-gray);
}

/* FIGURES */

figure {
    margin: var(--margin) 0;
}

figure img {
    width: 100%;
}

figure.right {
    float: right;
    margin-top: 0;
    margin-left: var(--margin);
}

figure.right.hang {
    margin-right: var(--hang);
}

figure.left {
    float: left;
    margin-top: 0;
    margin-right: var(--margin);
}

figure.left.hang {
    margin-left: var(--hang);
}

figure.center {
    margin-right: auto;
    margin-left: auto;
}

figure.small {
    width: 320px;
}

figure.medium {
    width: 450px;
}

figure.large {
    width: 650px;
}

figcaption {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    line-height: var(--caption-line-height);
    opacity: var(--caption-opacity);
}

/* PAGINATION */

.pagination {
    font-size: 14px;
    line-height: 20px;
}

.pagination .page-item:first-child,
.pagination .page-item:last-child {
    display: none;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid var(--system-light-gray);
    text-decoration: none;
    color: var(--system-black)
}

.pagination .page-item a:hover {
    background-color: var(--system-black);
    border-color: var(--system-black);
    color: var(--system-white);
}

.pagination .disabled a,
.pagination .disabled a:hover {
    background-color: var(--system-white);
    border-color: var(--system-light-gray);
    color: var(--system-gray);
}

.pagination .active a,
.pagination .active a:hover {
    background-color: var(--system-light-gray);
    border-color: var(--system-light-gray);
    color: var(--system-gray);
}

.pagination .page-item a[aria-label=Previous] span {
    display: none;
}

.pagination .page-item a[aria-label=Previous]:after {
    content: "←";
}

.pagination .page-item a[aria-label=Next] span {
    display: none;
}

.pagination .page-item a[aria-label=Next]:after {
    content: "→";
}