@import url("/styles/reset.css") only screen;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

h1 {
    width: 200px;
    height: 100px;
    background: url("/images/hungry_foolish.svg") no-repeat center;
    text-indent: -1000px;
    overflow: hidden;
}
