@import url("/styles/reset.css") only screen;

@font-face {
    font-family: "Computer Modern";
    src: url("/fonts/computer-modern/cmunrm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Computer Modern";
    src: url("/fonts/computer-modern/cmunti.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Computer Modern Concrete";
    src: url("/fonts/computer-modern/cmunorm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background: #fff;
    font-family: "Computer Modern", serif;
}

article {
    margin: 0 auto;
    padding: 200px 0;
    width: 550px;
}

h1 {
    margin: 20px 0;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

em {
    font-style: italic;
}

footer {
    margin: 0 auto;
    padding: 200px 0;
    width: 550px;
    opacity: 0.5;
}

footer p {
    font-family: "Computer Modern Concrete", sans-serif;
    font-size: 15px;
    text-align: center;
}
